
        .user-icon{
            border: solid 1px;
            border-radius: 30px;
            margin-right: 10px;
            padding: 10px 13px 10px 13px;
            cursor: pointer;
            transition: color 0.3s ease;
            :hover{
                color: #086de9;
            }
        }
    

